@font-face {
    font-family:"DooM";
    src:url("../fonts/DooM.eot?") format("eot"),url("../fonts/DooM.woff") format("woff"),url("../fonts/DooM.ttf") format("truetype"),url("../fonts/DooM.svg#DooM") format("svg");
    font-weight:normal;
    font-style:normal;
}
